# Server Configuration
# PORT: The port number on which the HTTP server will listen
PORT=3000

# Environment
# NODE_ENV: The application environment (development, production, test)
NODE_ENV=development
